<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/header :: head(~{::title}, ~{}, ~{})">
    <title th:text="${'Error - ' + globalConfig.websiteName}">Error</title>
</div>
<body>
<div th:replace="include/navbar :: header"></div>

<div th:replace="include/container :: container_all(~{::content})">
    <content>
        <div style="background-color: #fff;text-align: center;height: 700px;margin-bottom: 20px;padding-top: 265px;">
            <p>
                <span style="font-size: 30px;">Sorry, something went wrong! ! !</span>
                <span th:if="${!#strings.isEmpty(toast)}"
                      th:text="${'(' + toast + ')'}"
                      style="font-size: 20px;color: red;">System Exception</span>
            </p>
        </div>
    </content>
</div>

<div th:replace="include/footer :: footer"></div>
</body>
</html>