<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/header :: head(~{::title}, ~{}, ~{})">
    <title th:text="${'Follow - ' + globalConfig.websiteName}">Follow</title>
</div>
<body>
<div th:replace="include/navbar :: header"></div>

<div th:replace="include/container :: container_both(~{::left}, ~{::right})">
    <left>
 
        <div th:replace="include/article-list :: article_list(${postsList}, true, ${pager})"></div>
    </left>
    <right>

        <div class="card">
            <div class="card-body" style="display: flex;justify-content: space-around;">
                <a th:data-target="${isLogin ? '' : '#loginModal'}"
                   th:data-toggle="${isLogin ? '' : 'modal'}"
                   th:href="${'/article/editor'}"
                   target="_blank"
                   class="btn btn-primary">Write Article</a>
                <a th:data-target="${isLogin ? '' : '#loginModal'}"
                   th:data-toggle="${isLogin ? '' : 'modal'}"
                   th:href="${'/faq/editor'}"
                   target="_blank"
                   class="btn btn-outline-primary">Ask Question</a>
            </div>
        </div>

     
        <div th:replace="include/users-card :: users_card('Recently active users', 'javascript:;', ${activeUsers})"></div>

        <div th:replace="include/carousel :: carousel('side_carousel', ${sideCarouselList})"></div>

        <div th:replace="include/used-tags :: used_tags('Common tags', ${usedTags})"></div>
    </right>
</div>

<div th:replace="include/footer :: footer"></div>
</body>
</html>