<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="article_list(articleList, showCategory ,pager)">
    <div class="list-group">
        <div th:if="${#lists.isEmpty(articleList)}"
             th:include="include/custom-empty :: custom_empty('')"
             class="list-group-item list-group-item-action"></div>
        <div th:if="${!#lists.isEmpty(articleList)}" th:each="article : ${articleList}" class="list-group-item list-group-item-action">
            <div th:if="${article.category == 'ARTICLE'}" class="d-flex justify-content-start">
                <div th:style="${'' + (#strings.isEmpty(article.headImg) ? 'width: 100%;' : 'width: 80%; padding-right: 10px;')}">
                    <div class="d-flex align-content-start">
                        <small th:if="${article.official}" class="posts-admin-tag posts-admin-tag-official">Official</small>
                        <small th:if="${article.top}" class="posts-admin-tag posts-admin-tag-top">Top</small>
                        <small th:if="${article.marrow}" class="posts-admin-tag posts-admin-tag-marrow">Featured</small>
                        <a th:text="${showCategory ? article.categoryDesc + ' | ' + article.title : article.title}"
                           th:href="${'/article/' + article.id}"
                           target="_blank"
                           class="text-truncate posts-list-title">It's the annual Double Eleven, is your shopping cart full yet? Let's compare the Double Eleven lists of Li Jiaqi and Weiya's live broadcast rooms to see which products are worth buyin</a>
                    </div>
                    <p th:text="${article.desc}" class="mb-1 posts-list-desc">
                        The story told in this book covers more than 350 years of history: the main body of human economic activities has changed from a farmer using an iron plow to a white-collar worker using a computer; the observation tool of human beings in outer space has changed from a two-inch telescope hand-made by Galileo to a radius The 10-meter paired Keck astronomical telescope has never been able to observe the field of view.
                    </p>
                </div>
                <div th:if="${!#strings.isEmpty(article.headImg)}"
                     class="d-flex justify-content-center align-self-center"
                     style="width: 20%;">
                    <img th:src="${article.headImg}" src="https://static.runoob.com/images/mix/img_mountains_wide.jpg" class="img-fluid" style="max-height: 89px;"/>
                </div>
            </div>
            <div th:if="${article.category == 'FAQ'}">
                <div>
                    <a th:text="${showCategory ? article.categoryDesc + ' | ' + article.title : article.title}"
                       th:href="${'/faq/' + article.id}"
                       target="_blank"
                       class="posts-list-title">It's the annual Double Eleven, is your shopping cart full yet? Let's compare the Double Eleven lists of Li Jiaqi and Weiya's live broadcast rooms to see which products are worth buyin</a>
                </div>
                <div th:if="${article.isSolution}" class="faq-solution-box">
                    <p style="margin-top: 0;margin-bottom: 5px;">Best Answer:</p>
                    <p th:text="${article.solution}" style="margin: 0;">The story told in this book covers more than 350 years of history: the main body of human economic activities has changed from a farmer using an iron plow to a white-collar worker using a computer; the observation tool of human beings in outer space has changed from a two-inch telescope hand-made by Galileo to a radius The 10-meter paired Keck astronomical telescope has never been able to observe the field of view.</p>
                </div>
            </div>

            <div class="posts-list-payload-box">
                <small class="text-muted" style="margin-right: 10px;">
                    <a th:href="${'/user/' + article.authorId}" target="_blank" href="#">
                        <img th:src="${article.authorHeadImg}" src="https://www.gravatar.com/avatar/6455e40915d4eac16ed07145a63ab474?d=retro" style="width: 16px;height: 16px;" />&nbsp;
                        <span th:text="${article.authorName}" class="posts-list-payload-box-author">qbian</span>
                    </a>
                </small>
                <small class="text-muted posts-list-payload-item">
                    <i data-feather="clock" style="width: 14px;height: 14px;"></i>&nbsp;
                    <span th:text="${article.createdAt}">3 Days ago</span>
                </small>
                <small class="text-muted posts-list-payload-item">
                    <i data-feather="eye" style="width: 14px;height: 14px;"></i>&nbsp;
                    <span th:text="${article.views}">2022</span>
                </small>
                <small class="text-muted posts-list-payload-item">
                    <i th:data-feather="${article.category == 'FAQ' ? 'heart' : 'thumbs-up'}" style="width: 14px;height: 14px;"></i>&nbsp;
                    <span th:text="${article.approvals}">07</span>
                </small>
                <small class="text-muted posts-list-payload-item">
                    <i data-feather="message-circle" style="width: 14px;height: 14px;"></i>&nbsp;
                    <span th:text="${article.comments}">2022</span>
                </small>
                <small class="text-muted posts-list-payload-item">
                    <i data-feather="tag" style="width: 14px;height: 14px;"></i>
                    <a th:each="tag : ${article.tagList}"
                       th:href="${'/tag/' + tag.name}"
                       th:text="${tag.name}"
                       style="margin-left: 5px;" target="_blank" href="#">Java</a>
                </small>
            </div>
        </div>
    </div>

    <div th:replace="include/page :: page(${pager})"></div>
</div>

</html>